// @property --x { initial-value: 50%; syntax: '<percentage>'; inherits: false;  }

:root {
  --pickupDuration: 1s;
  --a: -50em;
}

body {
  background-color: #000;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 1.2em);

  animation: test 10s ease-in-out 1;
}

@keyframes test {
  from {perspective-origin: 50% calc(50% + 1em);}
  to {perspective-origin: 50% calc(50% - 1.2em);}
}

.scene {
  position: relative;
  transform-style: preserve-3d;
}

.floor {
  width: 20em;
  height: 20em;
  background-image:
    radial-gradient(#0000, #000 75%),
    repeating-conic-gradient(from 45deg,
      #555 0deg 90deg,
      #666 90deg 180deg);
  background-size: 100%, 1em 1em;

  position: absolute;
  top: 1em;
  transform:
    translate(-50%, -50%) rotateX(90deg);
}